spring:
  profiles:
    active: admin   # Only governance module enabled for now

  datasource:
    url: jdbc:postgresql://localhost:5432/cirm
    username: cirm_user
    password: cirm_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # Hibernate must NEVER create tables
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8081

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
